<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel="stylesheet" href="/styles/style.css">
  <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-base.min.js?hcode=a0c21fc77e1449cc86299c5faa067dc4"></script>
  <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-gantt.min.js?hcode=a0c21fc77e1449cc86299c5faa067dc4" type="text/javascript"></script>
    <script src="https://cdn.anychart.com/releases/8.11.0/locales/ru-ru.js" type="text/javascript"></script>
</head>
<body>
<header th:insert = "blocks/header::header"></header>

<div class="container-fluid">
    <div class="row">
        <nav th:insert = "blocks/sideBar::side-bar"></nav>
    </div>
</div>
<div id="container" style="width: 1500px; height: 700px;"></div>
<script>
      anychart.onDocumentReady(function () {
          anychart.format.inputLocale('ru-ru');

    anychart.format.outputLocale('ru-ru');

      function readJSON(file, callback) {
  let rawFile = new XMLHttpRequest(),
    res;
  rawFile.overrideMimeType("application/json");
  rawFile.open("GET", file, false);
  rawFile.onreadystatechange = function() {
    if (rawFile.readyState === 4 && rawFile.status == "200") {
      res = callback(rawFile.responseText);
    }
  }
  rawFile.send(null);
  return res;
}
var projectId = [[${id}]]
console.log('idc', projectId)
const URL = "/gantt_data/"+projectId;
const result = readJSON(URL, function(text) {
  return JSON.parse(text);
});

console.log('result1', result)
        // create data
        var data = [
          {
            id: "1",
            name: "Development",
            actualStart: "2018-01-15",
            actualEnd: "2018-03-10",
            children: [
              {
                id: "1_1",
                name: "Analysis",
                actualStart: "2018-01-15",
                actualEnd: "2018-01-25"
              },
              {
                id: "1_2",
                name: "Design",
                actualStart: "2018-01-20",
                actualEnd: "2018-02-04"
              },
              {
                id: "1_3",
                name: "Meeting",
                actualStart: "2018-02-05",
                actualEnd: "2018-02-05"
              },
              {
                id: "1_4",
                name: "Implementation",
                actualStart: "2018-02-05",
                actualEnd: "2018-02-24"
              },
              {
                id: "1_5",
                name: "Testing",
                actualStart: "2018-02-25",
                actualEnd: "2018-03-10"
              }
          ]}
        ];

        console.log('treeJS', data)
        var jsonData =  JSON.stringify(data)
        console.log('treeJSON', result)



        // create a data tree
        var treeData = anychart.data.tree(result, "as-tree");
        // create a chart
        var chart = anychart.ganttProject();
        // set the data
        chart.data(treeData);


        var column_2 = chart.dataGrid().column(1);
        column_2.title().text("Наименование задачи");
        // set the container id
        chart.container("container");
        // initiate drawing the chart
        chart.draw();
        // fit elements to the width of the timeline
        chart.fitAll();
      });
    </script>
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"
></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
</body>
</html>