<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Управление ресурсами</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous"
  />
  <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
<header th:insert = "blocks/header::header"></header>

<div class="container-fluid">
  <div class="row">
    <nav th:insert = "blocks/sideBar::side-bar"></nav>
  </div>
</div>

<main class="px-md-4 bg-light">

  <!--Ресурсы -->
  <section class="bg-light text-dark p-3">
    <div class="container p-2">
      <h2>Ресурсы</h2>
      <!--Материальные ресурсы -->
      <div class="card g-0 p-2 mt-5">
        <div class="row g-0">
          <div class="col-md-4">
            <h6 class="card-title mb-1">Материальные ресурсы</h6>
          </div>
        </div>

        <!--Список ресурсов -->
        <div class="mt-3 table-responsive">
          <table class="table table-striped table-hover">
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Наименование</th>
              <th scope="col">Количество</th>
              <th scope="col">Тариф, руб/ч</th>
            </tr>
            </thead>

            <tbody>
            <div th:each="materialResource, itemStat : ${materialResources}">
              <tr>
                <td scope="row"></td>
                <td th:text="${materialResource.name}"></td>
                <td th:text="${materialResource.amount}"></td>
                <td th:text="${materialResource.rate}"></td>
              </tr>
            </div>
            </tbody>

          </table>
        </div>
        <div class="col-md-4">
          <a class="btn btn-success btn-sm mb-3 mt-1" data-toggle="collapse" href="#collapseNewMaterialResource" role="button" aria-expanded="false" aria-controls="collapseNewMaterialResource">
            Новый ресурс
          </a>
        </div>

        <div class="collapse" id="collapseNewMaterialResource">
          <form th:action="'/resources/add_material_resource'" method="post">
            <div class="card card-body">

            <div class="form-group row mb-2 align-items-center">
              <label class="col-3">Наименование</label>
              <input class="form-control col" type="text" placeholder="Название ресурса" name="name">
            </div>

            <div class="form-group row mb-2 align-items-center">
              <label class="col-3">Общее количество ресурса</label>
              <input class="form-control col" type="number" placeholder="Количество ресурса" name="amount">
            </div>

              <div class="form-group row mb-2 align-items-center">
                <label class="col-3">Тариф использования (руб/час)</label>
                <input class="form-control col" type="number" step="0.01" placeholder="Тариф использования (руб/час)" name="rate">
              </div>

            <button class="btn btn-success btn-sm col-1"  role="button" type="submit">
              Добавить
            </button>
          </div>
          </form>
        </div>

      </div>
      <!--Кадровые ресурсы -->
      <div class="card g-0 p-2 mt-3">
        <div class="row g-0">
          <div class="col-md-4">
            <h6 class="card-title mb-1">Кадровые ресурсы</h6>
          </div>
        </div>
        <!--Список кадровых ресурсов -->
        <div class="mt-1 table-responsive">
          <table class="table table-striped table-hover">
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Должность</th>
              <th scope="col">Тарифная ставка, руб./ч.</th>
              <th scope="col">Общее количество</th>
            </tr>
            </thead>

         <tbody>
            <div th:each="humanResource:${humanResources}">
              <tr>
                <td scope="row"></td>
                <td th:text="${humanResource.name}"></td>
                <td th:text="${humanResource.tariff}"></td>
                <td th:text="${humanResource.amount}"></td>
              </tr>
            </div>
            </tbody>

          </table>
        </div>
        <div class="col-md-4">
          <a class="btn btn-success btn-sm mb-3 mt-1" data-toggle="collapse" href="#collapseNewHumanResource" role="button" aria-expanded="false" aria-controls="collapseNewHumanResource">
            Новый ресурс
          </a>
        </div>

        <div class="collapse" id="collapseNewHumanResource">
          <form th:action="'/resources/add_human_resource'" method="post">
            <div class="card card-body">

              <div class="form-group row mb-2 align-items-center">
                <label class="col-3">Должность</label>
                <input class="form-control col" type="text" placeholder="Должность" name="name">
              </div>

              <div class="form-group row mb-2 align-items-center">
                <label class="col-3">Тарифная ставка, руб./ч.</label>
                <input class="form-control col" type="number" placeholder="Тарифная ставка" name="tariff">
              </div>

              <div class="form-group row mb-2 align-items-center">
                <label class="col-3">Общее количество ресурса</label>
                <input class="form-control col" type="number" placeholder="Количество ресурса" name="amount">
              </div>

              <button role="button" class="btn btn-success btn-sm col-1" type="submit">
                Добавить
              </button>
          </div>
          </form>
        </div>
      </div>
    </div>
  </section>

</main>

<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"
></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>