<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Редактирование задачи</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous"
  />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
  <link rel="stylesheet" href="/styles/style.css">
</head>
<body>

  <header th:insert = "blocks/header::header"></header>

  <div class="container-fluid">
    <div class="row">
      <nav th:insert = "blocks/sideBar::side-bar"></nav>
    </div>
  </div>



  <section class="bg-light text-dark p-3">
    <!--Форма-окно для редактирования задачи-->
    <form form id="task-edit" th:action="'/task/'+ ${task.taskId} +'/edit'" name="taskEdit" method="post">
      <div class="container">
        <h2 class="text-left">Редактирование задачи</h2>

          <div class="card g-0 p-2 mt-2">

          <h6>Основная информация</h6>
            <div class="row g-0 p-2 mb-2 align-items-center">
            <label class="col-3">Наименование</label>
            <input class="form-control col" type="text" placeholder="Наименование" th:value="${task.name}" name="name">
          </div>

            <div class="row g-0 p-2 mb-2 align-items-center">
            <label class="col-3">Описание</label>
            <input class="form-control col" type="text" placeholder="Описание"  th:value="${task.description}" name="description">
          </div>

            <div class="row g-0 p-2 mb-2 align-items-center">
            <label class="col-3">Индекс</label>
            <input class="form-control col" type="text" placeholder="Индекс" th:value="${task.taskIndex}" name="taskIndex">
          </div>

            <div class="row g-0 p-2 mb-2 align-items-center">
              <label class="col-3">Дата начала</label>
              <input class="form-control col flatpickr" type="date"  th:value="${task.startDate}" placeholder="Выберите дату начала" name="startDate">
            </div>
          </div>

          <!--Добавление подзадачи-->
          <div class="card g-0 p-2 mt-2">
            <div class="row g-0">
              <div class="col-md-4">
                <h6 class="card-title mb-1">Подзадачи</h6>
                <button type="button" class="mt-3 btn btn-success btn-sm" data-toggle="modal" data-target="#co-add-subtask">Добавить подзадачу</button>
              </div>


              <!--Список подзадач -->
                <div class="mt-1 table-responsive">
                  <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Наименование</th>
                      <th scope="col">Дата начала</th>
                      <th scope="col">Трудоемкость</th>
                      <th scope="col">Прогресс</th>
                      <th scope="col">Предшественник</th>
                      <th scope="col">Ресурсы</th>
                      <th scope="col">Действие</th>
                    </tr>
                    </thead>

                    <tbody>
                    <div th:each="el:${task.subTasks}">
                      <tr>
                        <td scope="row" th:text="${el.subTaskIndex}"></td>
                        <td th:text="${el.name}"/>
                        <td th:text="${el.startDate}"></td>
                        <td th:text="${el.laboriousness}"></td>
                        <td th:text="${el.progress}"></td>
                        <td th:text="${el.previousIndex}"></td>
                        <td>
                                <div th:each="el:${task.subTasks}">
                                <span th:text="${el.name} + ', ' + ${el.laboriousness}"></span>
                              </div>
                        </td>
                        <td>

                          <a th:href="'/subtask/'+ ${el.subTaskId}+ '/edit'" class="btn btn-round">
                            <i class="material-icons">edit</i>
                          </a>
                          <form th:action="'/task/'+ ${el.subTaskId}+'/remove'" method="post" class="col">
                            <button onclick="return confirm('Вы действительно хотите удалить задачу?')" class="btn btn-round">
                              <i class="material-icons">delete</i>
                            </button>
                          </form>
                        </td>
                      </tr>
                    </div>
                    </tbody>

                  </table>
                </div>
            </div>

          </div>

          <!--Добавление КП-->
          <div class="card g-0 p-2 mt-2">
            <div class="row g-0">
              <div class="col-md-4">
                <h6 class="card-title mb-1">Коммерческие предложения</h6>
              </div>



            </div>

              <label class="mt-3 col-3">Выберете коммерческое предложение для работы:</label>
              <select class="mt-3 form-select form-select-lg" aria-label=".form-select-lg" name="coId">
                <option disabled>Выберите КП</option>
                <option th:value="${selectedCo?.coId}" th:text="'Исполнитель: ' + ${selectedCo?.performer?.name} + ', Стоимость: ' + ${selectedCo?.budget}" selected></option>
                <div th:each="el:${task.commercialOffers}">
                  <option th:value="${el.coId}" th:text="'Исполнитель: ' + ${el.performer.name} + ', Стоимость: ' + ${el.budget}"></option>
                </div>
              </select>

            <div class="col-md-4">
              <button type="button" class="btn btn-success btn-sm mt-3" data-toggle="modal" data-target="#co-add-modal">Добавить КП</button>
            </div>

            <div class="table-responsive">
              <table class="table table-striped table-hover">
                <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Исполнитель</th>
                  <th scope="col">Стоимость</th>
                  <th scope="col">Срок исполнения</th>
                  <th scope="col">Статус</th>
                </tr>
                </thead>
                <div th:each="el:${task.commercialOffers}">
                  <div th:if="${el.isOptimal}">
                    <tr class="bg-success">
                      <td scope="row"></td>
                      <td th:text="${el.performer.name}"></td>
                      <td th:text="${el.budget}"></td>
                      <td th:text="${el.duration}"></td>
                      <td th:text="${el.status}"></td>
                    </tr>
                  </div>

                  <div th:unless="${el.isOptimal}">
                    <tr>
                      <td scope="row"></td>
                      <td th:text="${el.performer.name}"></td>
                      <td th:text="${el.budget}"></td>
                      <td th:text="${el.duration}"></td>
                      <td th:text="${el.status}"></td>
                    </tr>
                  </div>
                </div>

              </table>
            </div>
          </div>
          <button type="submit" class="btn btn-success">Обновить задачу</button>

      </div>

    </form>
  </section>


  <!--Форма-окно для создания КП-->
  <form class="modal fade" id="co-add-modal" th:action="'/co/'+${task.taskId}+'/add_from_task'" tabindex="-1" style="display:none;" aria-hidden="true" method="post">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content p-2">
        <div class="modal-header">
          <h5 class="modal-title">Новое коммерческое предложение</h5>
          <button type="button" class="close btn btn-round" data-dismiss="modal" aria-label="Close">
            <i class="material-icons">close</i>
          </button>
        </div>
        <!--end of modal head-->
        <div class="modal-body">
          <h6>Основная информация</h6>
          <select class="form-select form-select-lg mt-5" aria-label=".form-select-lg" name="performerId">
            <option value="0">Выберите исполнителя</option>
            <div th:each="el:${performers}">
              <option th:value="${el.performerId}" th:text="${el.name}"></option>
            </div>
          </select>

          <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            Добавить исполнителя
          </a>

          <div class="collapse" id="collapseExample">
            <div class="card card-body">

              <h6>Основная информация</h6>
              <div class="form-group row mb-2 align-items-center">
                <label class="col-3">Наименование</label>
                <input class="form-control col" type="text" placeholder="Наименование компании" name="name">
              </div>

              <div class="form-group row mb-2 align-items-center">
                <label class="col-3">Описание</label>
                <input class="form-control col" type="text" placeholder="Описание"   name="description">
              </div>

              <div class="form-group row mb-2 align-items-center">
                <label class="col-3">Директор</label>
                <input class="form-control col" type="text" placeholder="Директор" name="director">
              </div>

              <div class="form-group row mb-2 align-items-center">
                <label class="col-3">Отрасль</label>
                <select class="form-select form-select-lg col" aria-label=".form-select-lg" name="industry">
                  <option disabled>Выберите отрасль</option>
                  <option value="Информационные технологии">Информационные технологии</option>
                  <option value="Электротехническая промышленность">Электротехническая промышленность</option>
                  <option value="Нанотехнологии и композитные материалы">Нанотехнологии и композитные материалы</option>
                  <option value="Биотехнологии">Биотехнологии</option>
                  <option value="Машиностроение">Машиностроение</option>
                  <option value="Оптоэлектроника и волоконная оптика">Оптоэлектроника и волоконная оптика</option>
                  <option value="Энергосберегающая фототехника">Энергосберегающая фототехника</option>
                  <option value="Электронное приборостроение">Электронное приборостроение</option>
                  <option value="Другое">Другое</option>
                </select>
              </div>

              <div class="form-group row mb-2 align-items-center">
                <label class="col-3">Телефон</label>
                <input class="form-control col" type="text" placeholder="Номер телефона" name="telephone">
              </div>

              <div class="form-group row mb-2 align-items-center">
                <label class="col-3">Сайт</label>
                <input class="form-control col" type="text" placeholder="Сайт компании" name="site">
              </div>

              <div class="form-group row mb-2 align-items-center">
                <label class="col-3">Адрес</label>
                <input class="form-control col" type="text" placeholder="Адрес" name="address">
              </div>


            </div>
          </div>


          <div class="form-group row mb-2 align-items-center">
            <label class="col-3">Длительность работы</label>
            <input class="form-control col" type="text" placeholder="Длительность работы (кол-во рабочих дней)" name="duration">
          </div>
          <div class="form-group row mb-2 align-items-center">
            <label class="col-3">Стоимость</label>
            <input class="form-control col" type="text" placeholder="Стоимость" name="budget">
          </div>



        </div>
        <div class="modal-footer">
          <button role="button" class="btn btn-primary" type="submit">
            Добавить КП
          </button>
        </div>
      </div>
    </div>
  </form>

  <!--Форма-окно для добавления подзадачи-->
  <form class="modal fade" th:action="'/task/'+${task.taskId}+'/add_subtask'" id="co-add-subtask"  tabindex="-1" style="display:none;" aria-hidden="true" method="post">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content p-2">
        <div class="modal-header">
          <h5 class="modal-title">Новая подзадача</h5>
          <button type="button" class="close btn btn-round" data-dismiss="modal" aria-label="Close">
            <i class="material-icons">close</i>
          </button>
        </div>
        <!--end of modal head-->
        <div class="modal-body">

          <div class="form-group row mb-2 align-items-center">
            <label class="col-3">Наименование подзадачи</label>
            <input class="form-control col" type="text" placeholder="Наименование подзадачи" name="name">
          </div>

          <div class="form-group row mb-2 align-items-center">
            <label class="col-3">Индекс подзадачи</label>
            <input class="form-control col" type="text" placeholder="Индекс подзадачи" name="subTaskIndex">
          </div>

          <div class="form-group row mb-2 align-items-center">
            <label class="col-3">Дата начала</label>
            <input class="form-control col flatpickr" type="date" placeholder="Выберите дату начала" name="startDate">
          </div>

          <div class="form-group row mb-2 align-items-center">
            <label class="col-3">Трудоемкость</label>
            <input class="form-control col" type="text" placeholder="Трудоемкость задачи (в человеко-часах)" name="laboriousness">
          </div>

          <div class="form-group row mb-2 align-items-center">
            <label class="col-3">Прогресс:
              <output id="num">0</output></label>
            <input class="form-control col" type="range" value="0" max="100" oninput="num.value = this.value" name="progress">
          </div>

          <div class="form-group row mb-2 align-items-center">
            <label class="col-3 mb-2">Предшественник:</label>
            <select class="form-select form-select-lg" aria-label=".form-select-lg" name="previousIndex">
              <option disabled>Выберите предшествующую задачу</option>
              <option selected></option>
              <div th:each="el:${task.subTasks}">
                <option th:value="${el.subTaskIndex}" th:text="${el.subTaskIndex}+'  '+${el.name}"></option>
              </div>
            </select>
          </div>

        </div>
        <div class="modal-footer">
          <button role="button" class="btn btn-primary" type="submit">
            Добавить подзадачу
          </button>
        </div>
      </div>
    </div>
  </form>

  <!--Форма-окно для добавления ресурсов в подзадачи-->
  <form class="modal fade" th:action="'/task/'+${task.taskId}+'/add_resources'" th:object="${humanResourcesList}" id="co-add-resources"  tabindex="-1" style="display:none;" aria-hidden="true" method="post">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content p-2">
        <div class="modal-header">
          <h5 class="modal-title">Выберите ресурсы, необходимые для данной задачи</h5>
          <button type="button" class="close btn btn-round" data-dismiss="modal" aria-label="Close">
            <i class="material-icons">close</i>
          </button>
        </div>
        <!--end of modal head-->
        <div class="modal-body m-3">
          <div th:each="resource, itemStat : *{humanResources}" class="form-group row mb-2 align-items-center">

            <div class="form-check col-2">
              <input  class="form-check-input" type="checkbox" th:name="idChecked" th:field="*{humanResources[__${itemStat.index}__].checked}" id="flexCheckChecked">

              <label class="form-check-label" for="flexCheckChecked" th:text="*{humanResources[__${itemStat.index}__].name}"></label>
            </div>
            <input class="form-control col" type="number"  th:field="*{humanResources[__${itemStat.index}__].amount}"  >

          </div>

          <a class="btn btn-primary mt-3 mb-3" data-toggle="collapse" href="#collapseNewResource" role="button" aria-expanded="false" aria-controls="collapseNewResource">
            Добавить ресурс
          </a>
          <div class="collapse" id="collapseNewResource">
            <div class="card card-body">

              <div class="form-group row mb-2 align-items-center">
                <label class="col-3">Наименование</label>
                <input class="form-control col" type="text" placeholder="Название ресурса" name="name">
              </div>

              <div class="form-group row mb-2 align-items-center">
                <label class="col-3">Общее количество ресурса</label>
                <input class="form-control col" type="number" placeholder="Количество ресурса" name="amount">
              </div>

            </div>
          </div>


<!--          <fieldset>-->
<!--          <table>-->
<!--            <thead>-->
<!--            <tr>-->
<!--              <th> Name</th>-->
<!--              <th> Duration</th>-->
<!--            </tr>-->
<!--            </thead>-->
<!--            <tbody>-->
<!--            <tr th:each="resource, itemStat : *{resources}">-->
<!--              <td><input th:field="*{resources[__${itemStat.index}__].name}" /></td>-->
<!--              <td><input th:field="*{resources[__${itemStat.index}__].amount}" /></td>-->
<!--            </tr>-->
<!--            </tbody>-->
<!--          </table></fieldset>-->
      </div>

        <div class="modal-footer">
          <button role="button" class="btn btn-primary" type="submit">
            Подтвердить
          </button>
        </div>
      </div>
    </div>
  </form>




  <script
          src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
          crossorigin="anonymous"
  ></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

</body>
</html>