<div th:fragment = "side-bar">
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel" style="visibility: visible;" aria-modal="true" role="dialog">
        <div class="offcanvas-header bg-light">
            <h4 class="offcanvas-title" id="offcanvasRightLabel">Сервисы</h4>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body bg-light">
            <ul class="nav list-group-flush">
                <li class="nav-item">
                    <a href="#" class="nav-link active" aria-current="page">
                        <img src="/images/project.png">   Управление проектами
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link link-dark">
                        <img src="/images/performers.png">   Назначение исполнителей
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link link-dark">
                        <img src="/images/plan.png">   План-графики
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link link-dark">
                        <img src="/images/anasysis1.png">   Оценка целесообразности
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link link-dark">
                        <img src="/images/anasysis2.png">   Оценка и анализ рисков
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>